<div class="container-fluid card border-0 min-vh-100 p-4">
  <div class="d-flex justify-content-end m-3" *ngIf="role == 'Admin'">
    <a class="btn btn-primary" routerLink="/books/add-book">Add Book</a>
  </div>
  <div class="container my-3">
    <div class="row">
      <div class="col-md-3" *ngFor="let book of books">
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <img [src]="getSafeUrl(book.cover_img)" class="card-img-top mb-3 rounded-3" alt="Book Cover" height="400" />
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ book.author_name }}</h6>
            <a [href]="getSafeUrl(book.book_pdf)" class="btn btn-primary m-1">Read</a>
            <a href="#" class="btn btn-primary m-1">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>